@use 'colors';
@use 'fonts';

nav {
  position: fixed;
  height: 120px;
  width: 100%;
  padding: 1.5em;
  z-index: 5;
  background-color: colors.$tweeter-blue;
  color: #FFF;
}

nav * {
  display: inline-flex;
  float: right;
  flex-direction: column;
  margin: 0px;
}

nav div {
  cursor: pointer;
}

nav * p {
  text-align: center;
  font-family: fonts.$s-sans, 'sans-serif';
}

nav span {
  font-family: fonts.$bungee, sans-serif;
  float: left;
}

#nav-spacer {
  height: 120px;
}