@use 'colors';
@use 'fonts';

nav {
  position: fixed;
  height: 120px;
  width: 100%;
  padding: 1.5em;
  z-index: 5;
  background-color: colors.$tweeter-blue;
  color: #FFF;

  * {
    display: inline-flex;
    float: right;
    flex-direction: column;
    margin: 0px;

    p {
      text-align: center;
      font-family: fonts.$s-sans, 'sans-serif';
    }
  }

  div {
    cursor: pointer;
  }

  p:nth-child(2) {
    color: colors.$skip-orange;
  }

  span {
    font-family: fonts.$bungee, sans-serif;
    float: left;
  }
}

#nav-spacer {
  height: 120px;
}