@use 'colors';
@use 'fonts';

.new-tweet {
  margin: 50px auto;
  width: 90%;
}

.new-tweet form textarea {
  width: 100%;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: #545149;
  padding: 0px;
  background: transparent;
  resize: none;
}

.new-tweet form input {
  font-family: 'Bungee', sans-serif;
  color: #FFF;
  background: colors.$tweeter-blue;
  padding: 3px 5px;
  border-style: none;
  cursor: pointer;
}

.new-tweet form .counter {
  float: right;
  font-family: fonts.$bungee, sans-serif;
}

.new-tweet form .counter.invalid {
  color: red;
}

.new-tweet form label {
  margin-left: 10px;
  color: red;
  opacity: 100%;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.new-tweet form label.hidden {
  opacity: 0%;
  transition-property: opacity;
  transition-duration: 0.5s;
}